/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic resets and styling */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5; /* Light background color */
  color: #333; /* Dark text color */
}

h1 {
  text-align: center;
  margin: 20px 0;
}

#member-showcase {
  height: calc(100vh - 100px); /* Adjust height to fit in header and footer */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px; /* Add some padding */
}

.card {
  margin: 10px; /* Add space between cards */
}

.MuiCardContent-root {
  display: flex; /* Align avatar and text horizontally */
  align-items: center; /* Center items vertically */
}

.MuiAvatar-root {
  margin-right: 10px; /* Space between avatar and text */
}
